# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Macros
.DS_Store
*.pem

# local env files
.env*.local

# Typescript
*.tsbuildinfo

# Node modules
node_modules/

# Android/iOS (Expo manages these)
android/
ios/
